html body {
  font-family: 'Montserrat', sans-serif;
	color: #fff;
  background: none;  
}

a {
	text-decoration: none;
	color: #fff;
}
a:hover {
	color: #9282a0;
}
p {
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}
.arrow a {
	font-family: 'Quicksand', sans-serif;
}
.desktop {
	max-width: 1024px;
	margin-left: auto;
	margin-right: auto;
}
.navbar {
	margin: -16px auto;
	height: 100px;
	background: #373c3f;	
}
div.navbar a {
  font-weight: bold;
  font-size: 15px;
	color: #fff;
}
div.navbar a:hover {
	color: #9282a0;
}
div.navbar li {
	display: inline-block;
	padding: 30px 0px 0px 20px;
}
.mainscreen {
	height: 540px;
	background: #0ca0b6;
}
div.mainscreen p {
	width: 720px;
	padding-left: 90px;
	font-weight: bold;
  font-size: 63px;
}
div.mainscreen span {
	margin-left: 363px;
}
div.mainscreen span.first {
	margin-left: 0px;
	font-size: 30px;
	color: #a8d5df;
}
.description {
	height: 560px;
	background: #ebebeb;
}
div.description div.desktop {
	padding-left: 90px;
}
.row_1 {
	height: 200px;
	background: #27212c;
}
.rwc_1 {
	width: 788px;
	height: 200px;
	display: inline-block;
}
div.rwc_1 p {
	padding-top: 80px;
	padding-left: 90px;
  font-weight: bold;
  font-size: 30px;	
	color: #9282a0;
	
}
.rwc_2 {
	width: 220px;
  height: 200px;
	display: inline-block;
	position: absolute;
	text-align: centr;
	background: #bc3183;
}
div.rwc_2 p {
	padding: 60px 100px;
  font-weight: bold;
  font-size: 60px;
}
.row_2 {
	height: 294px;
	background: #5b0fa1;
}
.block_1 {
	width: 194px;
  display: inline-block;
  vertical-align: top;
  padding: 100px 0px 0px 170px;
}
div.block_1 span.arrow {
	font-weight: bold;
  font-size: 63px;
}
.block_2 {
	width: 321px;
	height: 294px;
	display: inline-block;
	margin: 0px -2px;
}
.row_3 {
	height: 55px;
  padding-top: 65px;
}
div.row_3 span {
	font-size: 20px;
  font-weight: bold;
  color: #088ca5;
}
.column {
	width: 400px;
  padding-right: 50px;
  display: inline-block;
  font-size: 14px;
  color: #515151;
  font-weight: bold;
  line-height: 26px;
}
.column_1 {
	width: 505px;
	position: absolute;
	display: inline-block;
}

